@import "variables"

// Global Styles

.btn:not(.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-link), .btn-default
    background-color: $vendata-color-bright
    border-color: $vendata-color-darkest
    color: $vendata-color-darkest

.btn:not(.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-link):hover, .btn-default:hover
    background-color: $vendata-color-dark
    color: $white