// Place all the styles related to the home page here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
    width: 100%;
    overflow: hidden;
    .inner {
        background-image: image-url("vendata.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        margin: 0 auto;
        height: 0;
        padding-top: 29.475806452%; /* (img-height / img-width * width) */
                /* (731 / 1240 * 100) */
        position: absolute;
        top: 150px;
        left: 25%;
    }
}