// Place all the styles related to the home page here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
    width: 100%;
    overflow: hidden;
    .inner {
        position: absolute;
        top: 150px;
        left: 25%;
        background-image: image-url("vendata.png");
        background-size: cover;
        margin: 0px auto;
        width: 50%;
        height: 60%;
    }
}