// Place all the styles related to the home page here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";
.navbar-brand {
    position: absolute;
    .logo-image {
        background-image: image-url('vendata.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 0;
        margin: 0 auto;
        height: 100%;
        padding-left: 58.951612903%; /* (img-height / img-width * width) */
                /* (731 / 1240 * 100) */
        position: absolute;
        top: 0px;
        width: 85px;
        height: 50px;
        margin: 0px;
        background-size: cover;
    }
}

.btn {
    border-color: $vendata-color-darkest;
    background-color: $vendata-color;
}

.btn:hover {
    background-color: $vendata-color-dark;
    color: $white;
}